@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header,
.welcome-section {
  background-color: #1f2937;
}

.header {
  display: flex;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
  margin-left: 170px;
  padding: 10px;
}

.header-link-container {
  display: flex;
  margin-left: auto;
  margin-right: 170px;
  align-items: center;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
}

.main-content {
}

.welcome-section {
  display: flex;
  padding: 100px;
  gap: 20px;
}

.welcome-intro h1 {
  color: #f9faf8;
  font-size: 48px;
  margin-bottom: 5px;
}

.welcome-intro p {
  color: #e5e7eb;
  font-size: 18px;
  margin-top: 5px;
}

.welcome-intro {
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  margin-left: 70px;
}

.welcome-image {
  color: #f9faf8;
  flex: 1;
  display: flex;
  background-color: #adadad;
  margin-right: 70px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.button {
  text-decoration: none;
  color: #f9faf8;
  display: flex;
  background-color: #3882f6;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.random-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.random-info h2 {
  font-size: 36px;
  font-weight: 700;
  padding: 10px;
  color: #1f2937;
}

.info-box-container {
  display: flex;
  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
  gap: 30px;
  flex-shrink: 0;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-image {
  width: 120px;
  height: 120px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.info-text {
  margin-top: 10px;
  width: 150px;
  text-align: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 70px 250px;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.quotee {
  text-align: right;
  font-weight: 900;
  font-size: 20px;
  color: #1f2937;
  padding: 15px 40px;
}
